.Home {
  font-size: 25px;
  color: black ;
  text-decoration: overline underline;
  text-align: center;
  text-align:center;
  margin-top: 100px;
  margin-right: 245px;
}

.container {
  display: flex;
}

.Appetizers {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  margin-top: 100px;
  margin-right: 245px;
}

.Appetizers:hover {
  color: #4a915c
}

.Breakfeast {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  text-align: center;
  text-align:center;
  margin-top: 100px;
  margin-right: 245px;
}

.Breakfeast:hover {
  color: #4a915c
}

.Lunch {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  text-align: center;
  text-align:center;
  margin-right: 245px;
  margin-top: 100px
}

.Lunch:hover {
  color: #4a915c
}

.Dinner {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  text-align: center;
  text-align:center;
  margin-right: 245px;
  margin-top: 100px
}

.Dinner:hover {
  color: #4a915c
}

.Dessert {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  text-align: center;
  text-align:center;
  margin-right: 235px;
  margin-top: 100px;
}

.Dessert:hover {
  color: #4a915c
}

.applesaucepic {
  margin-left: 600px;
  margin-top: 100px
}

.applesaucetitle {
  margin-left: 575px;
  font-size: 25px;
  color: black;
}
