.Home {
  font-size: 25px;
  color: black ;
  text-decoration: overline underline;
  text-align: center;
  text-align:center;
  margin-top: 150px;
  margin-right: 245px;
}

.container {
  display: flex;
}

.Appetizers {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  margin-top: 150px;
  margin-right: 245px;
}

.Appetizers:hover {
  color: #4a915c
}

.Breakfeast {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  text-align: center;
  text-align:center;
  margin-top: 150px;
  margin-right: 245px;
}

.Breakfeast:hover {
  color: #4a915c
}

.Lunch {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  text-align: center;
  text-align:center;
  margin-right: 245px;
  margin-top: 150px
}

.Lunch:hover {
  color: #4a915c
}

.Dinner {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  text-align: center;
  text-align:center;
  margin-right: 245px;
  margin-top: 150px
}

.Dinner:hover {
  color: #4a915c
}

.Dessert {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  text-align: center;
  text-align:center;
  margin-top: 150px;
}

.Dessert:hover {
  color: #4a915c
}

.pancakephoto {
  margin-left: 500px;
}

.favorites-container {
  margin-top: 100px;
}

.myfavorites {
  font-size: 25px;
  color: black ;
  text-decoration: underline overline;
  margin-left: 650px;
  margin-top: 200px;
}

.logo {
  margin-top: 1px;
  margin-left: 650px;
}
